.book_contaner{
    width: 100%;
    /* height: 90vh; */
    background-color: #e3f0ff;
}
.book_section{
  background-color: #F2F8FF;
}
.book_maxwidth{
    max-width: 1200px;
    /* height: 90vh; */
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    /* background-color: aliceblue; */
}
.book_maxwidth h5 {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 10px;
  color: #278CFF;
}
.book_maxwidth h2 {
  text-align: center;
  padding-bottom: 20px;
  font-weight: 600;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background: #008D94;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}


.next {
  right: 0px;
}

.prev {
  left: 0px;
}

.book_img img{
    border-radius: 10px;
}

.book_flex{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}




